<!DOCTYPE html>
<html>
<head>
  <title>LearningGit Hub by group of people</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>hello rails

<%= yield %>

</body>
</html>
